* {
  outline: none;
}

/*body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}


html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #e7f7e7;
  cursor: url(https://www.webslake.com/w_img/codepen/c1.png) 32 32, auto;
  cursor: -webkit-image-set(url(https://www.webslake.com/w_img/codepen/c1.png) 1x, url(https://www.webslake.com/w_img/codepen/c2.png) 2x) 32 32, auto;
}

body:active {
  cursor: url(https://www.webslake.com/w_img/codepen/c1a.png) 32 32, auto;
  cursor: -webkit-image-set( url(https://www.webslake.com/w_img/codepen/c1a.png) 1x, url(https://www.webslake.com/w_img/codepen/c2a.png) 2x) 32 32, auto;
}

#app-cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 350px;
  margin: 0 auto;
  margin-top: -40px;
}

#cover {
  position: relative;
  height: 80px;
  background-color: #25bf2b;
  border-radius: 120px;
  box-shadow: 0 10px 40px #208a23;
  overflow: hidden;
}

#key-icon, #key-cover, #key-dots, #show-key {
  position: absolute;
  top: 0;
  bottom: 0;
}

#key-icon {
  display: block;
  left: 0;
  width: 23px;
  height: 26px;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 1;
  padding: 27px 28.63px;
}

#key-cover, #key-dots {
  left: 80px;
  right: 80px;
}

#key-cover {
  z-index: 2;
}

#key {
  position: relative;
  display: block;
  left: 6px;
  top: 1px;
  height: 80px;
  font-size: 80px;
  color: #fff;
  padding: 0;
  border: 0;
  line-height: 1;
  letter-spacing: 12px;
  background-color: transparent;
}

#key-dots {
  overflow: hidden;
  z-index: 1;
}

#dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20px;
  height: 80px;
}

#key, #dots {
  width: 160px;
  margin: 0 auto;
}

.dot {
  position: relative;
  top: 50%;
  width: 20px;
  height: 20px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.7;
  margin-right: 20px;
  margin-top: -10px;
  background-color: #1b841f;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.2s ease transform;
  overflow: hidden;
}

.dot:last-child {
  margin-right: 0;
}

.dot span {
  display: block;
  opacity: 0;
  transition: 0.4s ease opacity;
}

#key-dots.active {
  z-index: 3;
}

#key-dots.active .dot {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #1b841f;
  transform: scale(1.7);
}

#key-dots .dot.white {
  color: #1b841f;
  background-color: #fff;
}

#key-dots .dot.white span.show {
  opacity: 1;
}

#show-key {
  right: 0;
}

#show-key i.fas {
  display: block;
  width: 26px;
  height: 27px;
  color: #fff;
  font-size: 23px;
  padding: 28.5px 27.07px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 450px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
